<nav class="navbar navbar-default">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbar-body">
      <ul class="nav navbar-nav">
        <li><a href="http://resources.pluckeye.net/">resources</a></li>
        <li><a href="http://recovery.pluckeye.net/">recovery</a></li>
        <li><a href="http://filters.pluckeye.net/">filters</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="//contact.pluckeye.net/">contact</a></li>
      </ul>
    </div>
  </div>
</nav>
